*{
    margin: 0;
    padding: 0;
}
header{
    background-image:url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-left: 20px;

}
.navbar{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    width: 80%;
    margin: 20px auto 0px;
}
.logo{
    color: rgba(253, 110, 10, 1);
}
.logo-title{
    font-size: 45px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.navbar > ul >li{
    list-style: none;
    color: rgba(71, 71, 71, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.navbar > ul >li > a{
    color: black;
    text-decoration:none;
    margin-bottom: 50px;
}
.nav-item{
    display: flex;
    flex-direction: row;
    gap: 51px;
    align-items: center;
    font-weight: 600;

}
.btn{
    border-radius: 5px;
    width: 150px;
    height: 64px;
    background-color: rgba(253, 110, 10, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    border: none;

}
/* banner style start */
.banner-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.banner-haddinng{
    color: rgba(71, 71, 71, 1);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.banner-h{
    color: rgba(24, 24, 24, 1);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.banner-pre{
    color: rgba(117, 117, 117, 1);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin: 20px 0px 30px;
}
.bannner-bbtn{
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background: rgba(253, 110, 10, 1);
    border: none;
}
.bannner-btn{
    width: 160px;
    height: 64px;
    box-sizing: border-box;
    border: 1px solid rgba(253, 110, 10, 1);
    border-radius: 5px;
}
/* about section style start    */
.about-section{
    margin: 130px;
}
.about-container{
    border-radius: 10px;
    background: rgba(255, 248, 243, 1);
    width: 1140px;
    height: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
.about-contant{
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    width: 827px;
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: undefined;


}
.about-header{
    color: rgba(24, 24, 24, 1);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    width: 827px;
    height: 48px;
}
.about-preragraph{
    width: 827px;
    height: 120px;
    color: rgba(117, 117, 117, 1);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.info-container{
    display: flex;
    color: rgba(117, 117, 117, 1);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    gap: 50px;
}
/* about section end */

/* card section start */
.card-header{
    width: 167px;
    height: 48px;
    color: rgba(24, 24, 24, 1);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.card-praragraph{
    color: rgba(117, 117, 117, 1);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    width: 909px;
    height: 90px;
    margin: 30px 0px 50px;
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
}
.card-container1{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 24px;
}
.card > img{
    margin: 20px;
}
.card >h3 {
    padding: 20px 20px;
    color:  #9b9999;
}

.card > p {
    padding: 0px 20px;
    color:  #9b9999;
}
/* card section end */

/*  resume section start */
.resume-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title{
    width: 455px;
    height: 48px;
    color: rgba(24, 24, 24, 1);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.resume-container {
    display: flex;
    

}
.resume-column-title{
    width: 203px;
    height: 41px;
    color: rgba(71, 71, 71, 1);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.experience-description-title{
    color: rgba(71, 71, 71, 1);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    width: 405px;
    height: 34px;
}
.experience-description-sub-title{
    width: 309px;
    height: 27px;
    color: rgba(117, 117, 117, 1);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.experience-description{
    width: 511px;
    height: 84px;
    color: rgba(117, 117, 117, 1);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.section-title{
    margin: 130px 0px 113px;
width: 455px;
height: 48px;
color: rgba(24, 24, 24, 1);
display: flex;
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}
.resume-container{

}
hr{
    width: 475px;
    height: 0;
    margin-bottom: 30px;
    color: rgb(158, 125, 125);
}



/*  resume section end */